John Barbero Unenge <john.barbero.unenge@gmail.com>
Jesper Persson <jespert.persson@gmail.com> Jesper Persson <jespert.persson@gmail.com>
Sebastian Odbjer <odbjer@student.chalmers.se> Z3B0 <odbjer@student.chalmers.se>
Sebastian Odbjer <odbjer@student.chalmers.se> Sebastian Odbjer <odbjer@student.chalmers.se>
Alexander Hederstaf <alexander.hederstaf@gmail.com>
Jonatan Rapp <rapp.jonatan@gmail.com> Jonatan Rapp <rapp.jonatan@gmail.com>
Jonatan Rapp <rapp.jonatan@gmail.com> rapp <rapp@trollux.(none)>
RepoPusher <user@server> RepoPusher <user@server>
RepoPusher <user@server> RepoPusher <some@email.com>